@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.auth_bg {
	background-image: url("/images/auth-img.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.glassmorphism {
	background: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
}
.glassmorphism_gray {
	background: rgba(54, 54, 54, 0.6);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
}

@layer utilities {
	.main_btn {
		@apply bg-gradient-to-b from-mainPink-1 to-mainPink-2 rounded-xl hover:bg-gradient-to-b hover:from-mainBlack-1 hover:to-mainBlack-2 transition-colors;
	}
	.wrapper {
		@apply px-2 xs:px-4 lg:px-8 2xl:px-16;
	}
	.hero_gradient {
		@apply absolute w-full h-full bg-gradient-to-b from-[#141414] via-[#1c1d215c] to-[#141414] z-10;
	}
}
